{% extends 'layout.html' %}
{% block body %}
{{ path|safe}}

<div class="actualpost">

	<div class="actualposttitle">
		<a href="/viewpost?post={{ post.id }}">{{post.title}}</a>
		<div class="postposter" {% if post.user.admin %} style="color: red;" {% endif %}>
			{{ post.user.username }}
			<a href="/profile/{{ post.user.username }}"> View Profile</a>
		</div>
		<div class="posttime">
			<br>{{ post.Likes|length }}
		<a href="/like-post/{{post.id}}"><i class="fa-regular fa-thumbs-up"></i></a>
		<a href="/like-post/{{post.id}}"><i class="fa-regular fa-thumbs-down"></i></a>
		<a class="fa-regular fa-heart"></a>
		<a class="fa-regular fa-face-smile"></a>
		<a class="fa-regular fa-face-sad-tear"></a>
		<a class="fa-solid fa-hands-clapping"></a><br>
			{{ post.get_time_string() }}

		</div>
	</div>

	<div class="postcontent">

		{{post.content}}
	</div>

</div>
<div class="addcomment" id="addcomment">
	<form action="/action_comment?post={{ post.id }}" method="POST">
		<textarea class="inputbox varwidth" rows="6" name="content"></textarea><br>
		<input class="inputbox" style="margin-bottom: 1%;" type="submit" value="Comment">
	</form>
</div>
<div style="text-align: center;">
	{% if current_user.is_authenticated %}
	<input type="button" id="displayaddcomment" onclick="toggle()" value="Add a comment">
	{% else %}
	<a href="/loginform">Login or register to make a comment</a>
	{% endif %}
</div>
{%if comments%}
<div class="comments">
{% for comment in comments %}
	<div class="comment">
		<div class="commentuser">
			(<span  {% if comment.user.admin %} style="color: red;" {% endif %}>{{ comment.user.username }}</span>) -

			<a href="/profile/{{ comment.user.username }}"> View Profile</a>


		</div>
		<div class="commentcontent">
			{{ comment.content }}<br>
			{{ post.Likes|length }}
			<a class="fa-regular fa-thumbs-up"></a>
			<a class="fa-regular fa-thumbs-down"></a>
			<a class="fa-regular fa-heart"></a>
			<a class="fa-regular fa-face-smile"></a>
			<a class="fa-regular fa-face-sad-tear"></a>
			<a class="fa-solid fa-hands-clapping"></a>
		</div>
		
		<div class="commenttime">
			{{ comment.get_time_string() }}
		</div>
	</div>
	<br>
	
{% endfor %}
</div>
{% endif %}
<script type="text/javascript">
function toggle(){
	var div = document.getElementById("addcomment");
	var button = document.getElementById("displayaddcomment")
	if(div.style.display == "none" || div.style.display.trim() == ""){
		div.style.display = "inline";
		button.value="Hide";
	}else{
		div.style.display = "none";
		button.value="Add a comment"
	}
	
}
</script>


{% endblock %}


