{% extends 'layout.html' %}
{% block body %}
{{ path|safe}}
<!--creates the post you're oging to look at -->
<div class="actualpost">
	<div class="actualposttitle">
		<a href="/viewpost?post={{ post.id }}">{{post.title}}</a>
		<div class="postposter" {% if post.user.admin %} style="color: red;" {% endif %}>
			{{ post.user.username }}

		</div>
		<div class="posttime">
			{{ post.get_time_string() }}
		</div>
	</div>
	<div class="postcontent">
		{{post.content}}
	</div>

</div>
<!--this here creates the input box when you click to add a comment-->
<div class="addcomment" id="addcomment">
	<form action="/action_comment?post={{ post.id }}" method="POST">
		<!--form actions is where to send the data when the work is done, so to the Post table, -->
		<textarea class="inputbox varwidth" rows="6" name="content"></textarea><br>
		<input class="inputbox" style="margin-bottom: 1%;" type="submit" value="Comment">
	</form>
</div>
<div style="text-align: center;">

	

	{% if current_user.is_authenticated %}
	<input type="button" id="displayaddcomment" onclick="toggle()" value="Add a comment">

	{% else %}
	<a href="/loginform">Login or register to make a comment</a>
	{% endif %}
</div>
{%if comments%}
<div class="comments">
{% for comment in comments %}
<!--this goes through comments and displays every comment-->
<!--this is the display of the comments--> 
	<div class="comment" id = "{{ comment.id }}" >
		<div class = "parent_id" id = "{{ comment.parent_id}}"></div>
		<div class="commentuser">
			(<span  {% if comment.user.admin %} style="color: red;" {% endif %}>{{ comment.user.username }}</span>) - 
		</div>
		<div class="commentcontent">
			{{ comment.content }}
		</div>
		
		
		<div class="commenttime">
			{{ comment.get_time_string() }}
		</div>
		<div class="addcomment" id="addsubcomment {{ comment.id }}">
			<form action="/comment_comment?post={{ post.id }}&parent={{ comment.id }}" method="POST">
				<!--form actions is where to send the data when the work is done, so to the Post table, -->
				<textarea class="inputbox varwidth" rows="6" name="content"></textarea><br>
				<input class="inputbox" style="margin-bottom: 1%;" type="submit" value="Comment">
			</form>
		</div>
		{% if current_user.is_authenticated %}
		<input type="button" id= "{{ comment.id }}"  onclick="toggleSub(this.id)" value="Add a comment">
	
		{% else %}
		<a href="/loginform">Login or register to make a comment</a>
		{% endif %}
	</div>

	</div>
	
	
	
	<br>
	
{% endfor %}
</div>
{% endif %}
<!-- this is the functions of the button and what happens when you click on it-->
<!-- getElementByID returns the element object who's id matches 'addcomment'-->
<!-- style.display shows if text is bolded out in several ways: bolded, blocked (between two paragraphs), none means there's not formatting-->
<!--so -->
<script type="text/javascript">
function toggle(){

	var div = document.getElementById("addcomment"); 
	var button = document.getElementById("displayaddcomment")
	if(div.style.display == "none" || div.style.display.trim() == ""){
		div.style.display = "inline";
		button.value="Hide";
	}else{
		div.style.display = "none";
		button.value="Add a comment"
	}
	
}
function toggleSub(this_id){
	console.log(this_id)
	var div = document.getElementById("addsubcomment" + " " + this_id); 
	var button = document.getElementById("displayaddcomment" + " " + this_id)
	console.log(button)
	if(div.style.display == "none" || div.style.display.trim() == ""){
		div.style.display = "inline";
		button.value="Hide";
	}else{
		div.style.display = "none";
		button.value="Add a comment"
	}

}
</script>


{% endblock %}


