{% extends 'layout.html' %}

{% block body %}
<h1>Username: {{ user.username }} </h1>
<hr>
<h3>Posts</h3>
Total Posts: {{ countFunc2("post", user.id) }}
{% for post in posts %}
<p>
 {{ post.title }}
 {{ user.username }} said: <b>{{ post.content }}</b>
</p>
{% endfor %}
<hr>
<h3>Comments</h3>
Total Comments: {{ countFunc2("comment", user.id) }}
{% for comment in comments %}
<p>
 Commented on {{ titleFunc(comment.post_id) }}
 {{ user.username }} said: <b>{{ comment.content }}</b>
</p>
{% endfor %}

{% endblock %}